
		 <!-- Footer -->
  <footer id="footer" class="footer-dark">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3"> 
            <!-- Footer widget area 1 -->
            <div class="widget  widget-contact-us">
              <h4>Locations</h4>
              <ul class="list-icon">
	            <li><h5>HOUSTON</strong></h5>
                <li>795 Folsom Ave, Suite 600 <br>
                  San Francisco, CA 94107</li>
                <li>(123) 456-7890 </li>
                <li><a href="mailto:first.last@example.com">first.last@example.com</a> </li>
                <li><h5>HOUSTON</strong></h5>
                <li>795 Folsom Ave, Suite 600 <br>
                  San Francisco, CA 94107</li>
                <li>(123) 456-7890 </li>
                <li><a href="mailto:first.last@example.com">first.last@example.com</a> </li>
              </ul>
               
            </div>
            <!-- end: Footer widget area 1 --> 
          </div>
          <div class="col-md-3"> 
            <!-- Footer widget area 2 -->
            <div class="widget">
              <h4>Services</h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Shortcodes</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 2 --> 
          </div>
          <div class="col-md-3"> 
            <!-- Footer widget area 3 -->
            <div class="widget">
              <h4>Our Work</h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Shortcodes</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 3 --> 
          </div>
          <div class="col-md-3"> 
            <!-- Footer widget area 4 -->
            <div class="widget clearfix widget-newsletter">
				<form class="widget-subscribe-form form-inline" action="include/subscribe-form.php" role="form" method="post" novalidate="novalidate">
					<h4 class="widget-title">Newsletter</h4>
					<small>Stay informed on our latest news!</small>
					<div class="input-group">
					<input type="email" aria-required="true" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
					<span class="input-group-btn">
					<button type="submit" id="widget-subscribe-submit-button" class="btn btn-default"><i class="fa fa-paper-plane"></i></button>
					</span> </div>
				</form>
			</div>
            
            <div class="widget clearfix ">
              <h4>Social</h4>
            
            <!-- Social icons -->
              <div class="social-icons social-icons-border float-left m-t-20">
                <ul>
                  <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                  <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li class="social-pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              </div>
              <!-- end: Social icons -->
            <!-- end: Footer widget area 4 --> 
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-content">
      <div class="container">
        <div class="copyright-text text-center">&copy; 2017 POLO -  Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="http://www.inspiro-media.com" target="_blank">INSPIRO</a> </div>
      </div>
    </div>
  </footer>
  <!-- end: Footer --> 